@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}


@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(182, 180, 180);
}
.first{
    margin-top: 5%;
    margin-bottom: 5%;
}
.second{
    background-color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
footer{
    background-color: rgb(46, 45, 45);
    padding-top: 40px;
    padding-bottom: 1%;
}
footer p{
    margin-top: 10%;
}